*.sln
*.csproj
/Library
/Build
/obj
/Temp

/Assets/AssetStoreTools
/Assets/AssetStoreTools.meta

#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb

*.userprefs

!/Assets/Core/Plugins/mcs.dll
